DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

layout python3
[ ! -f "${DIR}"/.env ] && [ ! -L "${DIR}"/.env ] && ln -sv "${DIR}"/.direnv/"$(basename "${VIRTUAL_ENV}")"/ "${DIR}"/.env
python -m pip install -U nose coverage mock
